.configuration {
  display: flex;
  background-color: transparent;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;

  margin-top: 44px;
}

h2 {
  color: #FEFEFE;
  margin-top: 0;
  margin-bottom: 22px;
}

.configuration table {
  background-color: #DFDFDF;
}

.configuration thead tr {
  background-color: yellow;
}

.configuration tbody tr:nth-child(odd) {
  background-color: #F1F1F1;
}

.configuration tbody tr:nth-child(even) {
  background-color: #FCFCFC;
}

.configuration td, .configuration th {
  padding: 8px;
  border: 0;
}

