body {
  margin: 0;
  background-color: #536AF4;
  font-family: 'Inconsolata', monospace;
}

header {
  background-color: #DFDFDF;
  padding: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  height: 50px;
}
